.linea{
	text-align: center;
}
.linea li{
	display: inline-block;
	margin: 0 40px ;
}
.slogan h1{
	font-size: 70px;
	text-align: center;
}
.valores{
	margin: 40px 0;
}
.valores .portfolio-wrapper, .valores .portfolio-single{
	text-align: center;
}
.valores .portfolio-view{
	border-radius: 100%;
    height: 110px;
    width: 110px;
    text-align: center;
    margin: 0 25px;
}
.valores .portfolio-view p{
	color: #fff;
    text-align: center;
    margin: 30px 5px;
    text-transform: uppercase;
}
.valores .portfolio-thumb i{
	margin-top:20px;
}
.valores .portfolio-info h2{
	margin-top: 30px;
}
.carousel-inner{
	height: 662px;
}
